.userInfo{
    margin-top: 2rem;
}

.User-infoCard{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.8rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}
